<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355387213381-f709sjdkeimt4r6mj7kfa0mepb0tt3lq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355387213381-f709sjdkeimt4r6mj7kfa0mepb0tt3lq</string>
	<key>API_KEY</key>
	<string>AIzaSyAN6D-lQ0KNzXroYo8GN4HyzdHbS2_Cdqg</string>
	<key>GCM_SENDER_ID</key>
	<string>355387213381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paypal.MyTestApp</string>
	<key>PROJECT_ID</key>
	<string>mytestapp-3377b</string>
	<key>STORAGE_BUCKET</key>
	<string>mytestapp-3377b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355387213381:ios:87ee7e1e3ffe900732852c</string>
	<key>DATABASE_URL</key>
	<string>https://mytestapp-3377b.firebaseio.com</string>
</dict>
</plist>